/* Hierarchy of CSS: 
      1. Positioning (dimensions, padding, margins)
      2. Sizing 
      3. Aesthetics (background, borders)
      4. Font (size, type, color)
*/

h1 {
  font-weight: 400;
  font-size: 1em;
  color: #484848;
}

h2 {
  font-weight: 400;
  font-size: 0.65em;
  color: #000000;
  line-height: 1.1em;
}

@media (min-width: 700px) { 
  h1 { 
    font-size: 1.4em;
  }
  h2 { 
    font-size: 1em;
  }
}

body {
  width: 100%; 
  background: #e0e0e0;
}

@media (min-width: 700px) { 
  body { 
    width: 700px;
  }
}

header {
  padding-left: 15px;
  line-height: 5px;
}
@media (min-width: 700px) {
  header {
    padding-left: 20px;
    line-height: 10px;
  }
}

header h1 {
  margin-top: 25px;
  font-weight: 700;
}

@media (min-width: 700px) {
  header h1 {
    margin-top: -14px;
  }
}

::placeholder {
  color: #d3d3d3;
  font-weight: 400;
}

table {
  margin: 0 auto;
  border: 2px solid #000000;
  width: 93%;
  text-align: left;
  border-collapse: collapse;
}

th, tr {
  font-size: 0.7em;
  line-height: 20px;
}

@media (min-width: 700px) {
  th,tr {
    font-size: 1em;
    line-height: 20px;
  }
}


th {
  border-bottom: 2px solid #000000;
  padding-left: 2px;
  margin-left: 0px;
  margin-right: 0px;
}

th:hover:nth-child(-n+2) {
  cursor: pointer;
  background-color: #f1f1f1;
}

tr:nth-child(even) {
  background: #c0c0c0
}

tr {
  font-weight: 400;
}

.Link {
  color: #B20E0A;
  font-weight: 700;
}

.Icon {
  height: 24px;
  margin-left: 10px;
  margin-bottom: -7px;
}

.ErrorIcon {
  height: 18px;
  margin-right: 7px;
  margin-bottom: -5px;
}
@media (min-width: 700px) {
  .ErrorIcon {
    margin-bottom: -7px;
    height: 24px;
  }
}

.SortIcon {
  height: 10px;
  margin-left: 10px;
  margin-bottom: -2px;
}
@media (min-width: 700px) {
  .SortIcon {
    height: 15px;
  }
}

.Thumbs {
  padding-top: 20px;
  padding-bottom: 30px;
  text-align: center;
}

.Middle {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);

  width: 100%;
  
  text-align: center;
}

.Middle h2 {
  color: #484848;
  padding-bottom: 10px;
}

@media (min-width: 700px) { 
  .Middle { 
    width: 700px;
  }
}

.MiddleTop {
  width: 100%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

@media (min-width: 700px) { 
  .MiddleTop { 
    width: 700px;
  }
}

.Error {
  color: #B20E0A;
  font-size: 0.8em;
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 25px;
}
@media (min-width: 700px) {
  .Error {
    font-size: 1em;
  }
}

.Success {
  color: #000000;
  font-size: 0.8em;
  font-weight: 400;
  margin-top: 3%;
}
@media (min-width: 700px) {
  .Success {
    font-size: 0.9em;
  }
}

.LoginBlock {
  padding-top: 10px; 
  margin: 0 auto;
  margin-top: 25px;

  width: 267px;

  color: #000000;

  border: 1px solid #000000;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background: #ffffff;
}

.TableBlock {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;

  padding-bottom: 5%;
  margin-left: 2.5px;
  margin-right: 2.5px;
  margin-top: 18px;

  width: calc(100%-10px);

  text-align: center;
  border: 2.5px solid #000000;
  border-radius: 20px;
}
@media (min-width: 700px) { 
  .TableBlock {
    margin-top: 25px;
    width: 700px;
  } 
}

.TableBlock h1 {
  font-weight: 700;
}

.MainForm input {
  padding-left: 8px;
  padding-top: 3px;
  padding-bottom: 2px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 9px;

  width: 200px;

  border: 1px solid #000000;
  border-radius: 20px;

  font-size: 0.9em;
  font-family: inherit;
  font-weight: 400;
}

.PatientSearch {
  padding-top: 12px;
  margin-bottom: -4px;
  display: flex;
  flex-direction: row;
  font-size: 0.7em;
  height: 24px;
}
@media (min-width: 700px) { 
  .PatientSearch {
    font-size: 0.9em;
    margin-bottom: 0px;
  } 
}

.BrowseBlock input {
  padding-left: 10px;
  padding-top: 2px;
  padding-bottom: 2px;

  width: 240px;

  border: 1px solid #000000;
  border-radius: 20px;

  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
}
@media (min-width: 700px) { 
  .BrowseBlock input {
    width: 300px;
  } 
}

.HorizButton {
  margin-bottom: 15px;

  width: 269px;  

  background: #000000;
  border: 0.5px solid #000000;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;

  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  color: #ffffff;
}

.HorizButton:disabled {
  border: 1px solid #000000;
  background-color: #cccccc;
  color: #666666;
}

.HorizButton:hover:enabled {
  cursor: pointer;
  background:  #B20E0A;
}

.VertButton {
  width: 50px;
  height: 100%;
  padding-left: 0px;

  background: #000000;
  border: 1px solid #000000;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;

  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  color: #ffffff;
}

.Logout {
  width: 100%;
  text-align: right;
  margin-right: 20px;
}

.LogoutButton {
  margin-top: 15px;
  margin-left: 10px;
  margin-right: 10px;

  height: 25px;
  width: 60px;  

  border: 1px solid #000000;
  border-radius: 20px;
  background: #B20E0A;

  font-size: 0.7em;
  font-family: inherit;
  font-weight: 400;
  color: #ffffff;
}

@media (min-width: 700px) { 
  .LogoutButton {
    height: 20px; 
    width: 130px;
    font-size: 0.8em;
    margin-left: 20px;
  }
}

.LogoutButton:hover {
  background: #ffffff;
  color: #B20E0A;
  cursor: pointer;
}

.Picture {
  height: 17px;
  padding-top: 20px;
  padding-left: 8px;
  padding-right: 8px;
}
@media (min-width: 420px) and (max-width: 700px) {
  .Picture {
    height: 24px;
    padding-left: 12px;
    padding-right: 12px;
  }
}
@media (min-width: 550px) and (max-width: 700px) {
  .Picture {
    height: 30px;
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media (min-width: 700px) { 
  .Picture {
    height: 40px; 
    padding-left: 20px;
    padding-right: 20px;
  }
}

.grid-container {
  display: grid;
  grid-row: 9;
  padding: 10px;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}