/* Hierarchy of CSS: 
      1. Positioning (dimensions, padding, margins)
      2. Sizing 
      3. Aesthetics (background, borders)
      4. Font (size, type, color)
*/

h1 {
  font-size: 1.5em;
  color: #484848;
}

h2 {
  font-size: 1em;
  color: #000000;
}

body {
  min-width: 700px; 
  background: #e0e0e0;
}

header {
  padding-top: 30px;
  padding-left: 20px;
  line-height: 10px;
}

::placeholder {
  color: #d3d3d3;
  font-weight: 400;
}

table {
  margin: 0 auto;
  border: 2px solid #000000;
  width: 90%;
  text-align: left;
  border-collapse: collapse;
}

th, tr {
  line-height: 20px;
}

th {
  border-bottom: 2px solid #000000;
  margin-left: 0px;
  margin-right: 0px;
}

tr:nth-child(even) {
  background: #c0c0c0
}

tr {
  font-weight: 400;
}

.link {
  color: #B20E0A;
}

.Thumbs {
  text-align: center;
}

.Middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);

  width: 500px;
  
  text-align: center;
}

.Middle h2 {
  color: #484848;
  padding-bottom: 10px;
}

.LoginBlock {
  padding-top: 10px; 
  margin: 0 auto;
  margin-top: 25px;
  margin-bottom: 25px;

  width: 350px;

  color: #000000;

  border: 1px solid #000000;
  border-radius: 20px;
  background: #ffffff;
}

.TableBlock {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;

  padding-top: 0px; 
  padding-bottom: 20px;
  margin-top: 20px;

  width: 700px;

  text-align: center;
  border: 2.5px solid #000000;
  border-radius: 20px;
}

.FormBlock input {
  padding-left: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  margin-left: 10px;
  margin-bottom: 5px;

  width: 200px;

  border: 1px solid #000000;
  border-radius: 5px;

  font-size: 12px;
  font-family: inherit;
  font-weight: 400;
}

.PatientSearch {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: row;
  font-size: 14px;
  height: 24px;
}

.BrowseBlock input {
  padding-left: 10px;
  padding-top: 2px;
  padding-bottom: 2px;

  width: 250px;

  border: 1px solid #000000;
  border-bottom-left-radius: 17px;
  border-top-left-radius: 17px;

  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
}

.MiddleTop {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 700px;
}

.HorizButton {
  margin-top: 5px;
  margin-bottom: 0px;

  width: 100%;  

  background: #000000;
  border: 1px solid #000000;
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;

  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  color: #ffffff;
}

.HorizButton:disabled {
  border: 0.5px solid #000000;
  background-color: #cccccc;
  color: #666666;
}

.VertButton {
  width: 50px;
  height: 100%;
  padding-left: 0px;

  background: #000000;
  border: 1px solid #000000;
  border-top-right-radius: 17px;
  border-bottom-right-radius: 17px;

  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  color: #ffffff;
}

.Picture {
  height: 40px;
  padding-top: 60px;
  padding-left: 20px;
  padding-right: 20px;
}

.grid-container {
  display: grid;
  grid-row: 9;
  padding: 10px;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}