/* Hierarchy of CSS: 
      1. Positioning (dimensions, padding, margins)
      2. Sizing 
      3. Aesthetics (background, borders)
      4. Font (size, type, color)
*/

.ChangePtButton {
  margin-top: 15px;  

  border: 1.0px solid #000000;
  border-radius: 20px;
  cursor: pointer;

  font-family: inherit;
  font-weight: 400;
  color: #ffffff;
}

.ChangePtButton {
  height: 25px;
  width: 115px;

  background: #000000;

  font-size: 0.7em;
}

@media (min-width: 700px) {
  .ChangePtButton {
    height: 20px;
    width: 130px;

    font-size: 0.8em;
  }
}

.ChangePtButton:hover {
  background: #ffffff;

  color: #000000;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdownContent {
  display: none;
  position: absolute;

  width: 180px;
  
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border-radius: 20px;
  border: 1px solid #000000;
  z-index: 1;
}

@media (min-width: 700px) {
  .dropdownContent {
    width: 280px;
  }
}

.Sublist {
  display: block;

  color: #484848;
  font-weight: 400;
  text-align: left;
  text-decoration: none;
}

.dropdownContent li {
  padding-left: 10px;

  list-style: none;
  line-height: 30px;
  
}

.dropdownContent li:hover {
  background-color: #f1f1f1
}

.dropdownContent li:first-child {
  padding-top: 3px;
}

.dropdownContent li:last-child {
  background-color: #484848;
  border-bottom-left-radius: 19px;
  border-bottom-right-radius: 19px;
}

.dropdownContent li:last-child a {
  color: #ffffff;
  text-align: center;
}

.dropdownContent li:hover:first-child {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.dropdownContent li:hover:last-child {
  background-color: #f1f1f1;
  border-bottom-left-radius: 19px;
  border-bottom-right-radius: 19px;
}

.dropdownContent li:hover:last-child a {
  color: #484848;
}

.dropdown:hover .dropdownContent {
  display: block;
}

.HeadName {
  display: flex;
}

.Table {
  margin: 0 auto;

  width: 93%;

  border: 2px solid #000000;
}

.GridRow {
  display: flex;

  width: 100%;
}

.DateBlock, .NoteBlock {
  position: relative;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  
  height: 41px;

  border: 1px solid #A9A9A9;

  text-align: center;
  font-size: 0.5em;
  color: #000000;
  font-weight: 700;
} 

@media (min-width: 700px) {
  .DateBlock, .NoteBlock {
    height: 49px;
    font-size: 0.7em;
  } 
}

.SavedNoteBlock {
  position: relative;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  
  height: 39px;

  border: 2px solid #91D150;

  text-align: center;
  font-size: 0.5em;
  color: #000000;
  font-weight: 700;
} 

@media (min-width: 700px) {
  .SavedNoteBlock {
    height: 47px;
    font-size: 0.7em;
  } 
}

.DateBlock {
  width: 15%;
}

.StatusBlock {
  width: 40px;
  height: 41px;

  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  border: 1px solid #A9A9A9;

  text-align: center;
  font-size: 1.3em;
  color: #000000;
  font-weight: 700;
}
@media (min-width: 700px) {
  .StatusBlock {
    height: 49px;
    width: 60px; 
    font-size: 2em;
  }
}

.NoteBlock, .SavedNoteBlock {
  width: 85%;
}

.NoteBlock textarea {
  padding-left: 8px;
  padding-top: 3px;
  padding-bottom: 2px;

  height: 100%;
  hyphens: auto;

  border: 0px;
  resize: none;

  font-size: 1.0em;
  font-family: inherit;
  font-weight: 400;
}

.SavedNoteBlock textarea {
  padding-left: 8px;
  padding-top: 3px;
  padding-bottom: 2px;

  height: 100%;
  hyphens: auto;

  border: 0px;
  resize: none;

  font-size: 1.0em;
  font-family: inherit;
  font-weight: 700;
}

.Success {
  position: absolute;
  width: 10px;
  bottom: 0;
  right: 3px;
}
@media (min-width: 700px) {
  .Success {
    width: 15px;
  }
}


.SuccessLogo {
  width: 100%;
}