/* Hierarchy of CSS: 
      1. Positioning (dimensions, padding, margins)
      2. Sizing 
      3. Aesthetics (background, borders)
      4. Font (size, type, color)
*/

.ChangePtButton, .SaveNotesButton {
  margin-top: 15px;

  width: 130px;  

  border: 1.0px solid #000000;
  border-radius: 20px;

  font-size: 12px;
  font-family: inherit;
  font-weight: 400;
  color: #ffffff;
}

.ChangePtButton {
  background: #000000;
}

.SaveNotesButton {
  margin-left: auto;
  margin-right: auto;
  background: #484848;
}

.ChangePtButton:hover {
  background: #ffffff;
  color: #000000;
}

.SaveNotesButton:hover {
  background: #ffffff;
  color: #484848;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdownContent {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 280px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 20px;
    border: 1px solid #000000;
    z-index: 1;
}

.dropdownContent li {
  list-style: none;
}

.dropdownContent li a {
  color: #484848;
  padding: 6px;
  text-align: left;
  text-decoration: none;
  display: block;
  font-weight: 400;
}

.dropdownContent li:hover {
  background-color: #f1f1f1
}

.dropdownContent li:last-child {
  background-color: #484848;
  border-bottom-left-radius: 19px;
  border-bottom-right-radius: 19px;
}

.dropdownContent li:last-child a {
  color: #ffffff;
  text-align: center;
}

.dropdownContent li:hover:first-child {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.dropdownContent li:hover:last-child {
  background-color: #f1f1f1;
  border-bottom-left-radius: 19px;
  border-bottom-right-radius: 19px;
}

.dropdownContent li:hover:last-child a {
  color: #484848;
}

.dropdown:hover .dropdownContent {
    display: block;
}

.HeadName {
  display: flex;
}

.Table {
  margin: 0 auto;
  border: 2px solid #000000;
  width: 650px;
}

.DateBlock, .NoteBlock {
  height: 40px;
  border: 1px solid #A9A9A9;

  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;

  text-align: center;
  font-size: 0.7em;
  color: #000000;
  font-weight: 700;
} 

.DateBlock {
  width: 100px;
}

.NoteBlock: {
  width: 550px;
}

.NotesForm textarea {
  margin-top: 3px;
  padding-left: 8px;
  padding-top: 3px;
  padding-bottom: 2px;

  height: 35px;
  width: 550px;

  font-size: 1.0em;
  font-family: inherit;
  font-weight: 400;
  word-wrap: break-word;
  word-break: break-all;
  resize: none;
}

.GridRow {
  display: flex;
}