.TableSymp {
  display: flex;
  overflow-x: scroll;
  direction: rtl;
}

.DateHead, .TitleBlock, .SqNo, .SqYes, .SqCri, .SqUrg, .SqUWF, .SqFlu, .SqTir, .SqNor, .SqUnd {
  border: 1px solid #A9A9A9;
  height: 30px;
}

@media (min-width: 700px) {
  .DateHead, .TitleBlock, .SqNo, .SqYes, .SqCri, .SqUrg, .SqUWF, .SqFlu, .SqTir, .SqNor, .SqUnd {
    height: 40px;
  }
}

.SympBlock, .DateHead, .TitleBlock, .NoteBlock {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;

  text-align: center;
  font-size: 0.5em;
  color: #000000;
  font-weight: 700;
} 

@media (min-width: 700px) {
  .SympBlock, .DateHead, .TitleBlock, .NoteBlock {
    font-size: 0.7em;
  }
}

.SqNo, .SqYes, .SqCri, .SqUrg, .SqUWF, .SqFlu, .SqTir, .SqNor, .SqUnd {
  width: 40px;

  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;

  text-align: center;
  font-size: 1.3em;
  color: #000000;
  font-weight: 700;
}

@media (min-width: 700px) {
  .SqNo, .SqYes, .SqCri, .SqUrg, .SqUWF, .SqFlu, .SqTir, .SqNor, .SqUnd {
    width: 60px; 
    font-size: 2em;
  }
}

.SympBlock, .DateHead {
  height: 20px;
}

.SympBlock, .TitleBlock {
  width: 80px;
}

@media (min-width: 700px) {
  .SympBlock, .TitleBlock {
    width: 100px;
  }
}

.SympBlock {
  border: 1px solid #A9A9A9;
}

.SqNo {
  background: #ffffff; 
}

.SqYes {
  background: #3FB0F1;
}

.SqCri, .SqUrg, .SqUWF {
  background: #FF1D00;
}

.SqFlu, .SqTir {
  background: #FFFE06;
}

.SqNor  {
  background: #91D150;
}

.SqUnd {
  background: rgba(0, 0, 0, 0);
}